@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

hr{
  width: 5%;
  margin: 0 auto; 
  background-color: #D62828;
  border: 1px solid #D62828;
}

/*skip to content*/
.skip-link {
  position: absolute;
  top: -100px;
  left: 10px;
  background-color: #D62828;
  color: white;
  padding: 15px;
  font-size: 14px;
  z-index: 100;
  text-decoration: none;
  border-radius: 50px;
}

.skip-link:focus {
  top: 100px;
}

/*header*/
navigation-bar{
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

navigation-bar .header_menu {
  display: flex;
  align-items: center;
}

navigation-bar .header_menu button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
  color: #D62828;
  min-height: 44px;
  min-width: 44px;
}

navigation-bar .header_logo {
  display: flex;
  align-items: center;
}

navigation-bar .header_logo a {
  color: black;
  text-decoration: none;
  font-family: 'Vollkorn', serif;
  font-size: 30px;
  min-width: 44px;
  min-height: 44px;
}

navigation-bar .header_logo a:hover {
  color: #D62828;
}

navigation-bar .header_logo span{
  color: #D62828;
}

navigation-bar .header_navigation {
  position: absolute;
  top: 75px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
  text-align: center;
}

navigation-bar .header_navigation.open {
  left: 0;
}

navigation-bar .header_navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 0.5em;
  min-width: 44px;
  min-height: 44px;
  text-align: center;
}

navigation-bar .header_navigation ul li a:hover {
  color: #D62828;
}

/*jumbotron*/
.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.856)), url('/images/heros/hero-image_2-small.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .hero__inner {
  margin: 0 auto;
  max-width: 100%;
}

.hero .hero__title {
  color: #fff;
  font-size: 36px;
}

.hero .hero__title span{
  color: #EAE2B7;
}

.hero .hero__tagline {
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
}

/*main*/
main{
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}

h2{
  text-align: center;
}

.main__content {
  padding: 32px;
}

.sub__content {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.list {
  margin: 32px auto auto;
  text-align: left;
  display: grid;
}

.list_item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.list_item_city {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 5px;
  background-color: #003049;
  padding: 5px 10px;
  color: white;
}

.list_item_content {
  margin: 5px;
}

.list_item_img {
  width: 100%;
  max-height: 200px;
}

.list_item_rating {
  font-size: 12px;
  color: black;
  font-weight: 500;
}

.list_item_rating span {
  font-weight: bold;
}

.list_item_name:hover {
  opacity: 0.5;
}

.list_item_name a {
  text-decoration: none;
  color: inherit;
}

/*gallery*/
gallery-content h3{
  text-align: center;
  font-weight: lighter;
  color: #D62828;
}

gallery-content{
  display: none;
}

.gallery__content {
  margin-bottom: 50px;
  margin-top: 20px;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image img:hover {
  opacity: 0.7;
}

/*detail*/
.detail {
  margin: 20px auto;
  width: 100%;
  display: grid;
  padding: 25px;
}

.detail_item{
  max-width: 600px;
  margin: 0 auto;
}

.detail .detail_img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin: 20px auto;
}

.detail .detail_item h4 {
  margin: 8px 0;
}

.reviews{
  margin-top: 50px;
}

.review-item{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius:10px;
  padding:20px;
  margin:20px;
}

.review_date{
  color: grey;
  font-size: 12px;
}

.detail-form {
  text-align: center;
}

.detail-form form {
  margin: 20px 0 50px 0;
  display: inline-block;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 25px;
  width: 70%;
}

.detail-form label {
  margin-bottom: 10px;
  display: block;
}

.detail-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: 'Poppins', sans-serif;
  min-width: 44px;
  min-height: 44px;
}

.detail-form textarea {
  width: 100%;
  padding: 10px;
  height: 15vh;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: 'Poppins', sans-serif;
  min-width: 44px;
  min-height: 44px;
}

.detail-form button {
  padding: 10px 20px;
  background-color: #D62828;
  border: none;
  cursor: pointer;
  display: block;
  color: #fff;
  border-radius: 5px;
  min-width: 44px;
  min-height: 44px;
}

.detail-form button:hover {
  background-color: #b9480a;
}

/*like button*/
.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #D62828;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*favorite*/
.message {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.message h1 {
  font-size: 26px;
  text-align: center;
}

.message p {
  color: grey;
  text-align: center;
}

.error-message{
  text-align: center;
}

/*footer*/
footer-bar{
  background-color: #EAE2B7;
  border-radius: 25px 25px 0 0;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  display: block;
  bottom: 0;
  width: 100%;
  clear: both;
}

footer-bar span{
  font-weight: bold;
}

/*loading indicator*/
.loader {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #003049;
  color: #003049;
  box-shadow: 9999px 0 0 -5px;
  -webkit-animation: dot-pulse 1.5s infinite linear;
  animation: dot-pulse 1.5s infinite linear;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #003049;
  color: #003049;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  -webkit-animation: dot-pulse-before 1.5s infinite linear;
  animation: dot-pulse-before 1.5s infinite linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  -webkit-animation: dot-pulse-after 1.5s infinite linear;
  animation: dot-pulse-after 1.5s infinite linear;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

@-webkit-keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}

@-webkit-keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}

@-webkit-keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}