<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="catalogue the best restaurant in town" />
    <meta name="theme-color" content="#D62828" />
    <title>Foody</title>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials" />
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  </head>

  <body>
    <skip-to-content></skip-to-content>

    <header>
      <navigation-bar></navigation-bar>
    </header>

    <main></main>

    <footer-bar></footer-bar>
  </body>
</html>
